#!/bin/env bash
# chezmoi:template:left-delimiter="# {{" right-delimiter="}}"
set -eo pipefail

source "$CHEZMOI_SOURCE_DIR/scripts/ui.bash"

if ! command -v alacritty &>/dev/null; then
  log_skip "Alacritty not found"
  exit 0
fi

# {{ if ne .chezmoi.username "root" }}
SUDO="sudo"
# {{ else }}
SUDO=""
# {{ end }}

log_info "Setting Alacritty as default terminal..."
run_quiet "$SUDO" update-alternatives --set x-terminal-emulator /usr/bin/alacritty
